# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
env/
venv/
ENV/
*.sqlite3

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Other
*.bak

hackathon-api-key.json